.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-btn{
    padding: 20px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}