.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-btn{
    padding: 20px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}
select{
    margin: 10px 0;
    padding: 10px 5px;
    font-size: 15px;
    width: 50%;
    border-radius: 10px;
}
.details-container{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details{
    display: flex;
    flex-direction: column;
}
.details span{
    margin: 5px 0;
}